<h2>List of my favorite dessert flavors</h2>
<ul>
  <li class="flavor">Chocolate Chip</li>
  <li class="flavor">Chocolate Chip</li>
  <li class="flavor">Funfetti</li>
  <li class="flavor">Vanilla</li>
</ul>